# Node
node_modules/
dist/
.vite/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
crash.*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
